USE [master]
GO
/****** Object:  Database [DB_DearOX]    Script Date: 2018/9/15 23:26:49 ******/
CREATE DATABASE [DB_DearOX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_DearOX', FILENAME = N'D:\DataBase\DB_DearOX.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_DearOX_log', FILENAME = N'D:\DataBase\DB_DearOX_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_DearOX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_DearOX]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/9/15 23:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[pwd] [nvarchar](50) NULL,
	[sex] [bit] NULL,
	[grade] [int] NULL,
	[remark] [nvarchar](max) NULL,
	[date] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_grade]  DEFAULT ((1)) FOR [grade]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User'
GO
USE [master]
GO
